html, body, #app {
    height: 100%;
}

#app {
    box-sizing: border-box;
}
.scroll-view{
  height:calc(100% - 2.25rem);
}
.aui-list {
    background-image: none !important;
}

.aui-list-item:last-child {
    background-image: none !important;
}

.orderfooter {
    position: relative;
    /*bottom: 0;*/
    width: 100%;
    height: 2.25rem;
    line-height: 2.25rem;
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
    background: #FFFFFF;
    padding-left: 0.75rem;
    z-index: 500;
    box-sizing: border-box;
}

.smtext {
    margin-left: 0.4rem;
}

.subtn {
    height: 100%;
    padding: 0 0.8rem;
    background: #000000;
    color: #FFFFFF;
}

.addbox {
    margin: 0.5rem 0;
}

.titleleft-checkbox {
    float: none;
}

.labelcheckbox {
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
}

.titlecheckbox {
    top: 50%;
    left: 0;
    margin-top: -0.7rem;
}

.titlename {
    margin-left: 1.25rem;
}

.checkbox-input {
    display: none;
}

.checkbox-class {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
}

.checkbox-class i {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: -0.2rem;
    opacity: 0;
    font-weight: bolder;
    color: #fff;
    float: right;
}

.checkbox-input:checked+.checkbox-class {
    background: #000;
}

.checkbox-input:checked+.checkbox-class i {
    opacity: 1;
}

.courierbox {
    background-image: none !important;
}

.couriermsg, .couriermsg .aui-list-item-inner {
    min-height: 0 !important;
    height: auto !important;
}

.couriermsg .aui-list-item-inner {
    padding-bottom: 0.5rem;
}
.aui-content{
  margin-bottom: 0.75rem;
}
