/*全局样式*/
html,body{background: #f1f2f2;}

/*基本样式*/
.pr{position: relative;}
.fl{float: left;}
.fr{float: right;}
.oh{overflow: hidden;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.db{display: block !important;}
.dn{display: none;}
.dib{display: inline-block;}
.container {height: 100%;display: flex;flex-direction: column;justify-content: space-between;box-sizing: border-box;}

/*特殊样式*/
header{position: relative;top: 0 !important;width: 100%;height:2.25rem;box-sizing: content-box;}
header>div{margin: 0 auto;height: 2.25rem;text-align: center;color: #fff;font-size: 18px;line-height: 2.25rem;position: relative;}
header>div>.hicon{position: absolute;bottom: 0;left: 0;width: 2.25rem;height: 2.25rem;text-align: center;line-height: 2.25rem;color: #fff;font-size: 1rem;}

#app{position: relative;}
.scroll-view{overflow-y: scroll;height: 100%;}
.no-list-item-active .aui-list-item:active{background-color: #FFFFFF;}
input[type=checkbox],input[type=radio]{display: none;}
input[type=checkbox].aui-switch{display: inline-block;}
.smLoading{width: 1rem !important;height: 1rem !important;margin: 0 auto;}

.titleleft-checkbox{height: 100%;float: left;position: relative;}
.labelcheckbox{width: 1rem;height: 1rem;position: absolute;}
.checkbox-input{display: none;}
.checkbox-class{display: block;border-radius: 50%;width: 100%;height: 100%;border: 1px solid #000000;}
.checkbox-class i{width: 100%;height: 100%;display: block;opacity: 0;font-weight: bolder;color: #fff;float: right;}
.checkbox-input:checked+.checkbox-class{background: #000;}
.checkbox-input:checked+.checkbox-class i{opacity: 1;}

.waiting{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 88888;}
.waiting-main{width: 5rem;height: 5rem;position: absolute;top: 50%;left: 50%;margin-top: -2.5rem;margin-left: -2.5rem;background-color: rgba(0,0,0,.7);border-radius: 0.5rem;}
.waiting-gif{width: 3rem;height: 3rem;margin: 0.5rem auto 0.25rem;}
.waiting-gif img{width: 2rem;height: 2rem;display: block;}
.waiting-text{text-align: center;font-size: 16px;color: #ffffff;}

.picker{z-index: 99999 !important;}

.bottombtnbox{width: 100%;height: 2.5rem;background: #fff;position: relative;bottom: 0;padding: 0.25rem;}
.bottombtn{height: 2rem;line-height: 2.1rem;background-color: #03a9f4;color: #fff;}
.bottombtn:active,.aui-btn.aui-btn-block.bgcolor:active{background-color: #039be5 !important; color:#fff;}
.aui-btn.aui-btn-block:active{background-color: #ddd;}
.btncontainer{padding: 0 1rem;}

.bimgnone{background-image: none !important;}


/*文字大小*/
.f10{font-size: 10px !important;}
.f12{font-size: 12px !important;}
.f14{font-size: 14px !important;}
.f16{font-size: 16px !important;}
.f18{font-size: 18px !important;}
.f20{font-size: 20px !important;}
.f22{font-size: 22px !important;}
.f24{font-size: 24px !important;}

/*主题色*/
header{background-color: #03a9f4 !important;}
.bgcolor{background-color: #03a9f4 !important;color: #ffffff !important;}
.textcolor{color: #03a9f4 !important;}
.bordercolor{border: 1px solid #03a9f4 !important;color: #03a9f4 !important;}
.bgf{background-color: #ffffff !important;}
.bgt{background-color: transparent;}
.background{background-color: #f1f2f2;}


/*文字颜色*/
.black{color: #333333 !important;}
.gray{color: #999999 !important;}
.lightgray{color: #CCCCCC !important;}
.price{color: #ff0000 !important;}
.white{color: #ffffff !important;}
.green {color: #00C901 !important;}

/*flex*/
.flex-wrp{display: -webkit-flex !important;display: -ms-flex !important;display: flex !important;background-color:#fff;flex-direction:row;word-break:break-all;flex-wrap:wrap;}
.flex-item{width:4.5rem;display: -webkit-flex !important;display: -ms-flex !important;display: flex !important;justify-content:center;align-items:center;flex-wrap:wrap;}
.flex-row{display: -webkit-flex !important;display: -ms-flex !important;display: flex !important;flex-direction: row;}
.flex-column{display: -webkit-flex !important;display: -ms-flex !important;display: flex !important;flex-direction: column;}
.flex-start{justify-content: flex-start !important;}
.flex1{flex:1;}
.flex2{flex:2;}

/*内外边距*/
.mcenter{margin: 0 auto;}
.m5{margin: 0.25rem !important;}
.mt5{margin-top: 0.25rem !important;}
.mt10{margin-top: 0.5rem !important;}
.mt15{margin-top: 0.75rem !important;}
.mt20{margin-top: 1rem !important;}
.mt30{margin-top: 1.5rem !important;}
.mb5{margin-bottom: 0.25rem !important;}
.mb10{margin-bottom: 0.5rem !important;}
.mb15{margin-bottom: 0.75rem !important;}
.mb20{margin-bottom: 1rem !important;}
.mb30{margin-bottom: 1.5rem !important;}
.ml5{margin-left: 0.25rem !important;}
.ml10{margin-left: 0.5rem !important;}
.ml15{margin-left: 0.75rem !important;}
.ml20{margin-left: 1rem !important;}
.ml30{margin-left: 1.5rem !important;}
.mr5{margin-right: 0.25rem !important;}
.mr10{margin-right: 0.5rem !important;}
.mr15{margin-right: 0.75rem !important;}
.mr20{margin-right: 1rem !important;}
.mr30{margin-right: 1.5rem !important;}
.mtitle{margin-top: 2.25rem !important;}
.pt5{padding-top: 0.25rem !important;}
.pt10{padding-top: 0.5rem !important;}
.pt30{padding-top: 1.5rem !important;}
.pb0{padding-bottom: 0 !important;}
.pb5{padding-bottom: 0.25rem !important;}
.pb10{padding-bottom: 0.5rem !important;}
.pl15{padding-left: 0.75rem !important;}
.pr0{padding-right: 0 !important;}
.pr30{padding-right: 1.5rem !important;}
.pfooter{padding-bottom: 2.5rem !important;}
