<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>商品详情</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/goodsDetail.css">
    <style>
        #app {
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <div>
                <a class="hicon aui-iconfont aui-icon-left" @click="closeWin()"></a>{{title}}
            </div>
        </header>
        <div class="scroll-view">
            <div class="swiper-box">
                <img :src="chooseInfo[chooseIndex].ImageUrl+'/750'" alt="">
            </div>
            <div class="goodsinfo bgf mt10">
                <h2>{{title}}</h2>
                <div class="flex-row goodsdetailed gray f16">
                    <span class="f20 price">￥{{goodsinfo.MarketPrice | toFix}}</span>
                    <span>库存:{{chooseInfo[chooseIndex].stockNum}}</span>
                    <span>重量:{{goodsinfo.Weight}}kg</span>
                </div>
                <div class="numberbox oh">
                    <p class="numbertext fl f16">订购数量</p>
                    <div class="numberopt fr oh" v-show="chooseInfo[chooseIndex].stockNum>0">
                        <button @click="numMinus()">-</button>
                        <input type="number" :value="num" v-model="num" @blur="numInput()">
                        <button @click="numPlus()">+</button>
                    </div>
                    <p class="numbertext fr f16 price" v-show="chooseInfo[chooseIndex].stockNum<=0">已售罄</p>
                </div>
            </div>
            <div class="choosebox bgf mt10">
                <p class="f16 mb5">规格</p>
                <div class="chooseoptions">
                    <span v-for="(v,i) in chooseInfo" :class="{mr5:true, mb5:true, f14:true,bgcolor:i==chooseIndex}" @click="changeChoose(i)">{{chooseInfo[i].stockName}}</span>
                </div>
            </div>
            <div class="goodsdescribe mt10 bgf">
                <p class="desctitle">商品详情</p>
                <div v-html="chooseInfo[chooseIndex].detail"></div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab">
            <div class="aui-bar-tab-item" tapmode style="width: 3rem;" @click="toCart()">
                <i class="aui-iconfont aui-icon-cart"></i>
                <div class="aui-bar-tab-label">购物车</div>
            </div>
            <div class="aui-bar-tab-item aui-bg-warning aui-text-white" tapmode style="width: auto;" v-on:touchend="addCart()" v-show="!goodsinfo.IsSingleOrder">加入购物车</div>
            <div class="aui-bar-tab-item aui-bg-danger aui-text-white" tapmode style="width: auto;" v-on:touchend="buy()">立即购买</div>
        </footer>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/picker.min.js"></script>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            toast: false,
            showLoading: false,
            itemID: 0,
            stockID: 0,
            title: '商品详情',
            num: 0,
            goodsinfo: {},
            chooseInfo: [{}],
            chooseIndex: 0,
        },
        methods: {
            apiReady() {
                var that = this;
                var itemID = api.pageParam.itemID;
                var stockID = api.pageParam.stockID ? api.pageParam.stockID : 0;
                this.itemID = itemID;
                this.stockID = stockID;
                this.title = api.pageParam.title;
                var member = getStorageSync('member');
                callAjax(
                    'api/Good/GetDetailByItemID',
                    'get', {
                        id: itemID,
                        userID: member ? member.UserID : ''
                    },
                    function(res) {
                        //console.log(JSON.stringify(res));
                        if (res.status) {
                            stockID = stockID ? stockID : res.data.ApiGoodStockList[0].StockID;
                            var goodsinfo = {
                                IsSingleOrder: res.data.ApiGoodItem.IsSingleOrder,
                                itemID: res.data.ApiGoodItem.ItemID,
                                MarketPrice: res.data.ApiGoodItem.MarketPrice,
                                SalePrice: res.data.ApiGoodItem.SalePrice,
                                TagLine: res.data.ApiGoodItem.TagLine,
                                Weight: res.data.ApiGoodItem.Weight,
                            }
                            var chooseInfo = [];
                            for (var i = 0; i < res.data.ApiGoodStockList.length; i++) {
                                var item = {
                                    ImageUrl: res.data.ApiGoodStockList[i].ImageUrl,
                                    detail: res.data.ApiGoodStockList[i].Detail,
                                    max: res.data.ApiGoodStockList[i].MaxNum,
                                    min: res.data.ApiGoodStockList[i].MinNum,
                                    stockID: res.data.ApiGoodStockList[i].StockID,
                                    stockName: res.data.ApiGoodStockList[i].StockName,
                                    stockNum: res.data.ApiGoodStockList[i].StockNum,
                                }
                                chooseInfo.push(item);
                                if (stockID == res.data.ApiGoodStockList[i].StockID) {
                                    that.chooseIndex = i;
                                }
                            }
                            that.goodsinfo = goodsinfo;
                            that.chooseInfo = chooseInfo;
                            that.showLoading = false;
                        }
                    }
                );
            },
            numInput() {
                var num = parseInt(this.num);
                var max = this.chooseInfo[this.chooseIndex].max > this.chooseInfo[this.chooseIndex].stockNum ? this.chooseInfo[this.chooseIndex].stockNum : this.chooseInfo[this.chooseIndex].max;
                var min = this.chooseInfo[this.chooseIndex].min;
                num = num > max ? max : (num < min ? min : num);
                this.num = num;
            },
            numMinus() {
                var num = parseInt(this.num);
                var min = this.chooseInfo[this.chooseIndex].min;
                num--;
                num = num < min ? 0 : num;
                this.num = num;
            },
            numPlus() {
                var num = parseInt(this.num);
                var min = this.chooseInfo[this.chooseIndex].min;
                var max = this.chooseInfo[this.chooseIndex].max > this.chooseInfo[this.chooseIndex].stockNum ? this.chooseInfo[this.chooseIndex].stockNum : this.chooseInfo[this.chooseIndex].max;
                num++;
                num = num < min ? min : (num > max ? max : num);
                this.num = num;
            },
            changeChoose(index) {
                this.chooseIndex = index;
            },
            toCart() {
                sendEvent('tocusc');
                // sendEvent('getUserCart');
                closeWin();
            },
            addCart() {
                if (this.chooseInfo[this.chooseIndex].stockNum <= 0) {
                    showToast('该商品已售罄');
                } else if (this.num == 0) {
                    showToast('请输入购买数量');
                } else {
                    var customerGoods = getStorageSync('customerGoods') || [];
                    var noHave = true;
                    for (var i = 0; i < customerGoods.length; i++) {
                        if (customerGoods[i].itemID == this.goodsinfo.itemID && customerGoods[i].stockID == this.chooseInfo[this.chooseIndex].stockID) {
                            customerGoods[i].number = this.num;
                            noHave = false;
                            break;
                        }
                    }
                    var data = {
                        "itemID": this.goodsinfo.itemID,
                        "stockID": this.chooseInfo[this.chooseIndex].stockID,
                        "number": this.num,
                        "price": this.chooseInfo[this.chooseIndex].MarketPrice
                    }
                    if (noHave) {
                        customerGoods.push(data);
                    }
                    setStorageSync('customerGoods', customerGoods);
                    showToast('加入购物车成功！');
                    sendEvent('getCusCart');
                }
            },
            buy() {
                if (this.chooseInfo[this.chooseIndex].stockNum <= 0) {
                    showToast('该商品已售罄');
                } else if (this.num == 0) {
                    showToast('请输入购买数量');
                } else {
                    var openID = getStorageSync('openID');
                    var member = getStorageSync('member');
                    var cartIDs = [this.chooseInfo[this.chooseIndex].stockID];
                    var cartNumbers = [this.num];
                    var param = {
                        openID: openID,
                        nickName: member.UserName,
                        avatar: member.Avatar,
                        cartStockIDs: cartIDs,
                        cartNumbers: cartNumbers,
                        fastbuy:true
                    }
                    linkTo('customerCartOrderCreate', 'customerCartOrderCreate.html', true, param);
                }
            }
        },
        mounted() {

        }
    });
    apiready = function() {
        hPadding(function() {
            var headerh = $('header').outerHeight();
            var windowh = $('body').height();
            var footerh = $('footer').outerHeight();
            $('.scroll-view').height(windowh - headerh - footerh + 'px');
        });
        v.apiReady();
    }
</script>

</html>
