<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>填写订单</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/orderCreate.css">
    <style>
        #app {
            height: 100%;
        }

        .goodslist {
            padding: 0.5rem 0;
            overflow: hidden;
        }

        .goodslist img {
            width: 3rem;
            height: 3rem;
            float: left;
            margin-right: 0.5rem;
        }

        .listinfo {
            width: calc(100% - 3.5rem);
        }

        .deline {
            text-decoration: line-through;
            margin-top: 0.125rem;
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <div>
                <a class="hicon aui-iconfont aui-icon-left" @click="closeWin()"></a>填写订单
            </div>
        </header>
        <div class="scroll-view">
            <div class="aui-content aui-margin-b-15">
                <ul class="aui-list aui-list-in no-list-item-active">
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-title">重量合计</div>
                            <div class="aui-list-item-right price f16">{{weight}}kg</div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-title">订单金额</div>
                            <div class="aui-list-item-right price f16"><span class="gray deline">￥{{mprice}}</span>￥{{price}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="aui-content aui-margin-b-15">
                <ul class="aui-list aui-list-in no-list-item-active">
                    <li class="aui-list-item" @click="toAddress()">
                        <div class="aui-list-item-inner aui-list-item-arrow">
                            <div class="aui-list-item-title">收货信息</div>
                            <div class="aui-list-item-right f14 black" @click="linkTo('customerAddress','customerAddress.html',true,{});">填写地址</div>
                        </div>
                    </li>
                    <li class="aui-list-item" v-show="address.address">
                        <div class="aui-list-item-inner">
                            <div class="addbox">
                                <div class="titleleft-checkbox" v-show="boxshow">
                                    <label>
                    										<div class="labelcheckbox titlecheckbox">
                    										  	<input type="checkbox" class="checkbox-input" :checked="addTrue" @change="changeAddTrue()" />
                    										  	<span class="checkbox-class">
                    									  			<i class="aui-iconfont aui-icon-correct"></i>
                    								  			</span>
                    										</div>
                    										<p class="titlename f14 gray">是否同步到系统地址</p>
                    						    </label>
                                </div>
                                <p class="f14 gray">收件人：{{address.name}}&nbsp;&nbsp;{{address.phone}}</p>
                                <p class="f14 gray">地址：{{address.address}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="aui-content" v-for="(v,i) in WList">
                <ul class="aui-list aui-list-in no-list-item-active">
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-title">{{v.wareHouseName}}</div>
                        </div>
                    </li>
                    <li class="aui-list-item" v-for="(value,index) in v.goods">
                        <div class="aui-list-item-inner db">
                            <div class="goodslist">
                                <img :src="value.pic" alt="">
                                <div class="listinfo fl">
                                    <p class="black f16">{{value.name}}
                                        <span class="fr price f16">￥{{value.SalePrice}}</span>
                                        <span class="fr gray f14 deline">￥{{value.price}}</span>
                                    </p>
                                    <p class="f14 gray">{{value.tagLine}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item" @click="showPicker(i)">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-title">快递</div>
                            <div class="aui-list-item-right f16 black">{{v.expressName}}</div>
                        </div>
                    </li>
                    <li :class="{'aui-list-item':true,courierbox:v.CourierContent?true:false}">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-title">运费</div>
                            <div class="aui-list-item-right price f16">￥{{v.CourierMoney}}</div>
                        </div>
                    </li>
                    <li class="aui-list-item couriermsg" v-show="v.CourierContent">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-text">{{v.CourierContent}}</div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">订单备注</div>
                            <div class="aui-list-item-input">
                                <input type="text" placeholder="内容" v-model="v.remark">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="orderfooter">
            <span class="black f16">应付金额：</span>
            <span class="price f16">￥{{totalNum}}</span>
            <span class="f10 gray smtext">不含运费</span>
            <p class="subtn fr f16" @click="orderCompile()">提交订单</p>
        </footer>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/picker.min.js"></script>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            toast: false,
            showLoading: true,
            weight: 0,
            price: 0,
            mprice: 0,
            WList: [{}],
            address: {
                name: '',
                phone: '',
                address: ''
            },
            AddressParam: {
                postalCode: "",
                provinceName: "",
                cityName: "",
                countyName: "",
                detailInfo: "",
                telNumber: "",
                userName: ""
            },
            provinceName: '',
            addTrue: false,
            boxshow: false,
            courierMsg: '',
            expIndex: 0,
            pickerIndex: 0,
            totalNum: 0
        },
        methods: {
            showPicker(index) {
                this.expIndex = index;
                var expID = this.WList[index].index == -1 ? 0 : this.WList[index].logistic[this.WList[index].index].value;
                var arr = this.WList[index].logistic;
                var arrIndex = 0;
                if (expID != -1) {
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i].value == expID) {
                            arrIndex = i;
                            break;
                        }
                    }
                }

                picker.show(function() {
                    picker.refillColumn(0, arr);
                    picker.scrollColumn(0, arrIndex);
                });
            },
            toAddress() {

            },
            setAddressDefault() {
                var orderAddress = getStorageSync('orderAddress');
                if (orderAddress) {
                    this.address = {
                        name: orderAddress.name,
                        phone: orderAddress.phone,
                        address: orderAddress.ProvinceName + orderAddress.CityName + orderAddress.TownName + orderAddress.Address,
                    };
                    this.AddressParam = {
                        postalCode: '',
                        provinceName: orderAddress.ProvinceName,
                        cityName: orderAddress.CityName,
                        countyName: orderAddress.TownName,
                        detailInfo: orderAddress.Address,
                        telNumber: orderAddress.phone,
                        userName: orderAddress.name
                    };
                    this.provinceName = orderAddress.ProvinceName;
                    this.addtrue = false;
                    removeStorageSync('orderAddress');
                }
            },
            changeAddTrue() {
                this.addTrue = !this.addTrue;
            },
            total() {
                var totalNum = this.price;
                for (var i = 0; i < this.WList.length; i++) {
                    totalNum += this.WList[i].CourierMoney ? this.WList[i].CourierMoney : 0;
                }
                this.totalNum = totalNum;
            },

            courier() {
                if (!this.address.address) {
                    showToast('请先填写收货地址');
                    return;
                }
                var that = this;
                var member = getStorageSync('member');
                var stockIDs = [];
                var stockNumbers = [];
                for (var i = 0; i < that.WList[that.expIndex].goods.length; i++) {
                    stockIDs.push(that.WList[that.expIndex].goods[i].stockID);
                    stockNumbers.push(that.WList[that.expIndex].goods[i].cartnum);
                }
                var data = {
                        LogisticID: that.WList[that.expIndex].key,
                        wareHouseID: that.WList[that.expIndex].wareHouseID,
                        stockIDs: stockIDs,
                        stockNumbers: stockNumbers,
                        provinceName: that.provinceName,
                    }
                    // console.log(JSON.stringify(data));
                callAjax(
                    'api/Customer/GetStockExpressFee',
                    'get',
                    data,
                    function(res) {
                        // console.log(JSON.stringify(res));
                        if (res.status) {
                            that.WList[that.expIndex].CourierMoney = res.data.expressFee;
                            that.WList[that.expIndex].CourierContent = res.data.tips;
                        } else {
                            that.WList[that.expIndex].CourierMoney = '';
                            that.WList[that.expIndex].key = '-1';
                            that.WList[that.expIndex].CourierContent = res.message;
                        }
                        that.total();
                    }
                );
            },
            orderCompile() {
                if (!this.address.address) {
                    showToast('请填写收货地址');
                } else {
                    var that = this;
                    var LogisticIDs = [];
                    var Remarks = [];
                    var stockIDs = [];
                    var stockNumbers = [];
                    for (var i = 0; i < that.WList.length; i++) {
                        if (that.WList[i].key == '-1') {
                            showToast('请选择快递公司');
                            return false;
                        }
                        for (var j = 0; j < that.WList[i].goods.length; j++) {
                            stockIDs.push(that.WList[i].goods[j].stockID);
                            stockNumbers.push(that.WList[i].goods[j].cartnum);
                        }
                        LogisticIDs.push(that.WList[i].key);
                        // Remarks.push(that.WList[i].remark);
                        Remarks.push(that.WList[i].remark ? that.WList[i].remark : '无');
                    }
                    var member = getStorageSync('member');
                    var orderFinishModel = {
                        UserID: member.UserID,
                        OpenID: '',
                        NickName: '',
                        Avatar: '',
                        CartStockIDs: stockIDs.join(','),
                        CartNumbers: stockNumbers.join(','),
                        LogisticIDs: LogisticIDs.join(','),
                        Remarks: Remarks.join(','),
                        IsSyncAddress: this.addtrue,
                        AddressParam: this.AddressParam
                    }
                    this.showLoading = true;
                    loginAjax(
                        'api/Customer/HelpCustomerBuyGoods',
                        'post',
                        orderFinishModel,
                        function(res) {
                            console.log(JSON.stringify(res));
                            that.showLoading = false;
                            showToast(res.message);
                            if (res.status) {
                                member.Amount = res.data.Amount;
                                setStorageSync('member', member);
                                if (!that.fastbuy) {
                                    var customerGoods = getStorageSync('customerGoods');
                                    for (var i = 0; i < stockIDs.length; i++) {
                                        customerGoods.length;
                                        for (var j = 0; j < customerGoods.length; j++) {
                                            if (stockIDs[i] == customerGoods[j].stockID) {
                                                customerGoods.splice(j, 1);
                                            }
                                        }
                                    }
                                    setStorageSync('customerGoods', customerGoods);
                                    sendEvent('getCusCart');
                                }
                                setTimeout(function() {
                                    linkTo('orderComplete', 'orderComplete.html', true, {
                                        payNo: res.data.PayNos
                                    });
                                }, 1500);
                            }
                        }
                    );
                }
            },
            apiReady() {
                var that = this;
                var member = getStorageSync('member');
                this.fastbuy = api.pageParam.fastbuy;
                var data = {
                    openID: api.pageParam.openID,
                    nickName: api.pageParam.nickName,
                    avatar: api.pageParam.avatar,
                    cartStockIDs: api.pageParam.cartStockIDs,
                    cartNumbers: api.pageParam.cartNumbers,
                }
                loginAjax(
                    'api/Customer/GetCustomerShoppingCart',
                    'get',
                    data,
                    function(res) {
                        that.showLoading = false;
                        console.log(JSON.stringify(res.data));
                        if (res.status) {
                            var weight = res.data.TotalWeight;
                            var mprice = res.data.TotalMarketPrice;
                            var price = res.data.TotalSalePrice
                            var WList = [];
                            for (var i = 0; i < res.data.StockList.length; i++) {
                                var gooditem = [];
                                var logistic = [];
                                //商品
                                // console.log(JSON.stringify(res.data.StockList[i].StockList[0]));
                                for (var j = 0; j < res.data.StockList[i].StockList.length; j++) {

                                    var item = {
                                        itemID: res.data.StockList[i].StockList[j].ItemID,
                                        stockID: res.data.StockList[i].StockList[j].StockID,
                                        name: res.data.StockList[i].StockList[j].ItemName,
                                        tagLine: res.data.StockList[i].StockList[j].TagLine,
                                        cartnum: res.data.StockList[i].StockList[j].CartNum,
                                        pic: res.data.StockList[i].StockList[j].ImageUrl + '/200',
                                        price: res.data.StockList[i].StockList[j].MarketPrice,
                                        SalePrice: res.data.StockList[i].StockList[j].SalePrice,
                                        unit: res.data.StockList[i].StockList[j].UnitName
                                    }
                                    gooditem.push(item);
                                }
                                // 快递
                                for (var n = 0; n < res.data.StockList[i].LogisticList.length; n++) {
                                    var item = {
                                        value: res.data.StockList[i].LogisticList[n].LogisticID,
                                        text: res.data.StockList[i].LogisticList[n].LogisticName
                                    }
                                    logistic.push(item)
                                }
                                var wListItem = {
                                    wareHouseID: res.data.StockList[i].WareHouseID,
                                    wareHouseName: res.data.StockList[i].WareHouseName,
                                    goods: gooditem,
                                    logistic: logistic,
                                    expressName: '--请选择--',
                                    remark: '',
                                    index: -1,
                                    key: '-1',
                                    CourierContent: '',
                                    CourierMoney: '',
                                }
                                WList.push(wListItem)
                            }
                            that.WList = WList;
                            that.weight = weight;
                            that.mprice = mprice;
                            that.price = price;
                            that.totalNum = price;
                            that.CartStockIDs = res.data.CartStockIDs;
                            that.CartNumbers = res.data.CartNumbers;
                            newPicker();
                            // console.log(JSON.stringify(WList));
                        }

                    }
                );
            }
        },
        mounted() {

        }
    });
    apiready = function() {
        hPadding(function() {
            var headerh = $('header').outerHeight();
            var windowh = $('body').height();
            var footerh = $('footer').outerHeight();
            $('.scroll-view').height(windowh - headerh - footerh + 'px');
        });
        v.apiReady();
        listenEvent('returnAdd', function() {
            v.setAddressDefault();
        });
    }

    function newPicker(index) {
        var picker = new Picker({
            data: [
                []
            ],
            selectedIndex: [index ? index : 0],
            title: '选择快递'
        });

        picker.on('picker.select', function(selectedVal, selectedIndex) {
            v.WList[v.expIndex].index = selectedIndex[0];
            v.WList[v.expIndex].key = v.WList[v.expIndex].logistic[v.WList[v.expIndex].index].value;
            v.WList[v.expIndex].expressName = v.WList[v.expIndex].logistic[v.WList[v.expIndex].index].text;
            v.courier();
        });
        picker.on('picker.change', function(index, selectedIndex) {});
        window.picker = picker;
    }
</script>

</html>
