<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/cart.css">
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <div class="scroll-view oh nonebox" v-show="!cartList.length">
            <div class="noneimg">
                <img src="../image/non-tip.png" alt="">
            </div>
            <p class="gray tc f16 mb30">暂无数据</p>
            <div class="content bgf oh pd" v-show="likeList.length">
                <p class="tc black f16 mt5 mb10">猜你喜欢</p>
                <div class="flex-row like-box">
                    <div class="like" v-for="(v,i) in likeList" @click="toDetail(v.itemid,v.stockid,v.name)">
                        <img :src="v.pic+'/200'" alt="">
                        <p class="liketag f12">{{v.desc || 'null'}}</p>
                        <p class="black f14">{{v.name}}{{v.stockName}}</p>
                        <p class="likeprice price">￥{{v.mPrice}}
                            <span class="gray f12">&nbsp;&nbsp;销量:{{v.saleNum}}</span>
                            <span class="fr" v-if="v.stockNum<=0">售罄</span>
                            <span class="fr" v-else-if="v.pPost">包邮</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-view pr oh cartbox" v-show="cartList.length">
            <div class="wbox bgf" v-for="(v,i) in cartList">
                <div class="wtitle">
                    <div class="titleleft-checkbox">
                        <label>
        										<div class="labelcheckbox titlecheckbox">
        											  <input type="checkbox" class="checkbox-input" :checked="v.checked" v-model="v.checked" @change="wCheck(i)" />
        											  <span class="checkbox-class">
        												    <i class="aui-iconfont aui-icon-correct"></i>
        											  </span>
        										</div>
        										<p class="titlename f16 black">{{v.WareHouseName}}</p>
        								</label>
                    </div>
                    <p class="fr gray f14 titlempty" @click="emptyWareHouse(i)">清空</p>
                </div>
                <div class="cartgoodsbox" v-for="(value,index) in v.List">
                    <div class="cartgoodsinfo">
                        <label class="cartgoodsinfo-checkbox fl">
        										<div class="labelcheckbox goodscheckbox">
        											  <input type="checkbox" class="checkbox-input" :checked="value.checked" v-model="value.checked" @change="goodsCheck(i,index)" />
        											  <span class="checkbox-class">
        												    <i class="aui-iconfont aui-icon-correct"></i>
        											  </span>
        										</div>
      									</label>
                        <div class="cartlinkdetail fl" @click="toDetail(value.itemID,value.stockID,value.ItemName)">
                            <img :src="value.ImageUrl+'/200'" class="fl" alt="" />
                            <div class="cartinfo fl">
                                <p class="goodsname">{{value.ItemName}}</p>
                                <p class="goodsdesc">{{value.TagLine}}</p>
                                <p class="cartgoodsprice fl">￥{{value.MarketPrice}}</p>
                                <p class="goodstock fr">库存{{value.StockNum}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="cartoperation">
                        <div class="fl cartgoodsdel" @click="deleteGoods(i,index)">
                            <i class="iconfont icon-shanchu"></i>&nbsp;删除
                        </div>
                        <p class="cartunit fr">{{value.UnitName}}</p>
                        <div class="cartchangenum fr">
                            <p class="cartnumbox tc" @click="numMinus(i,index)">-</p>
                            <p class="cartnumbox tc numinp">
                                <input type="number" :value="value.Number" v-model="value.Number" class="db tc" @blur="numInput(i,index)" />
                            </p>
                            <p class="cartnumbox tc" @click="numPlus(i,index)">+</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="cartfoot bgf" v-show="cartList.length">
            <div class="titleleft-checkbox">
                <label>
                    <div class="labelcheckbox titlecheckbox">
                        <input type="checkbox" class="checkbox-input" :checked="checkAll" v-model="checkAll" @change="allCheck()" />
                        <span class="checkbox-class">
                            <i class="aui-iconfont aui-icon-correct"></i>
                        </span>
                    </div>
                    <p class="titlename footerlabeltext f16 black">全选</p>
                </label>
            </div>
            <button :class="{footerBtn:true, fr:true, bgcolor:true, tc:true, f20:true, db:true,btnDis:dis }" :disabled="dis" @click="toOrderCreate()">下&nbsp;单</button>
            <div class="totalbox fr">
                <p class="totaltext fl f14">合计:</p>
                <p class="price f18 fl">￥{{total | toFix}}</p>
                <p class="exp gray f12 fl">不含运费</p>
            </div>
        </footer>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            toast: false,
            showLoading: false,
            cartList: [],
            total: 0,
            checkAll: true,
            dis: false,
            likeList: []
        },
        methods: {
            goodsCheck(w, g) {
                if (!this.cartList[w].List[g].checked) {
                    this.cartList[w].checked = false;
                    this.checkAll = false;
                } else {
                    var checked = true;
                    for (var i = 0; i < this.cartList[w].List.length; i++) {
                        if (!this.cartList[w].List[i].checked) {
                            checked = false;
                            break;
                        }
                    }
                    this.cartList[w].checked = checked;
                    this.isCheck();
                }
                this.totalNum();
                this.disabledBtn();
                this.cartChoose();
            },
            wCheck(w) {
                if (this.cartList[w].checked) {
                    var wCheck = true;
                    for (var i = 0; i < this.cartList[w].List.length; i++) {
                        if (this.cartList[w].List[i].StockNum <= 0) {
                            wCheck = false;
                            this.cartList[w].List[i].checked = false;
                            this.checkAll = false;
                        } else {
                            this.cartList[w].List[i].checked = true;
                        }
                    }
                    this.cartList[w].checked = wCheck;
                    this.isCheck();
                } else {
                    this.checkAll = false;
                    for (var i = 0; i < this.cartList[w].List.length; i++) {
                        this.cartList[w].List[i].checked = false;
                    }
                }
                this.totalNum();
                this.disabledBtn();
                this.cartChoose();
            },
            allCheck() {
                if (this.checkAll) {
                    for (var i = 0; i < this.cartList.length; i++) {
                        var wChecked = true;
                        for (var j = 0; j < this.cartList[i].List.length; j++) {
                            if (this.cartList[i].List[j].StockNum > 0) {
                                this.cartList[i].List[j].checked = true;
                            } else {
                                this.checkAll = false;
                                wChecked = false;
                            }
                        }
                        this.cartList[i].checked = wChecked;
                    }
                    this.totalNum();
                } else {
                    for (var i = 0; i < this.cartList.length; i++) {
                        this.cartList[i].checked = false;
                        for (var j = 0; j < this.cartList[i].List.length; j++) {
                            this.cartList[i].List[j].checked = false;
                        }
                    }
                    this.dis = true;
                    this.total = 0;
                }
                this.disabledBtn();
                this.cartChoose();
            },
            isCheck() {
                var checkAll = true;
                for (var i = 0; i < this.cartList.length; i++) {
                    if (!this.cartList[i].checked) {
                        checkAll = false;
                    }
                    var wChecked = true;
                    for (var j = 0; j < this.cartList[i].List.length; j++) {
                        if (!this.cartList[i].List[j].checked) {
                            checkAll = false;
                            wChecked = false;
                        }
                    }
                    this.cartList[i].checked = wChecked;
                }
                this.checkAll = checkAll;
            },
            disabledBtn() {
                var dis = true;
                disx:
                    for (var i = 0; i < this.cartList.length; i++) {
                        for (var j = 0; j < this.cartList[i].List.length; j++) {
                            if (this.cartList[i].List[j].checked) {
                                dis = false;
                                break disx;
                            }
                        }
                    }
                this.dis = dis;
            },
            totalNum() {
                var cartStockIDs = [];
                var cartNumbers = [];
                var total = 0;
                for(var i=0;i<this.cartList.length;i++){
                    for(var j=0;j<this.cartList[i].List.length;j++){
                        if(this.cartList[i].List[j].checked){
                            total+=this.cartList[i].List[j].MarketPrice;
                        }
                    }
                }
                // var customerGoods = getStorageSync('customerGoods') || [];

                // for (var i = 0; i < customerGoods.length; i++) {
                //     total += customerGoods[i].price * customerGoods[i].number;
                // }
                this.total = total;
            },
            cartChoose() {
                var chooseCartID = [];
                var chooseCartNum = [];
                for (var i = 0; i < this.cartList.length; i++) {
                    for (var j = 0; j < this.cartList[i].List.length; j++) {
                        if (this.cartList[i].List[j].checked) {
                            chooseCartID.push(this.cartList[i].List[j].CartID);
                            chooseCartNum.push(this.cartList[i].List[j].Number);
                        }
                    }
                }
                this.chooseCartID = chooseCartID;
                this.chooseCartNum = chooseCartNum;
            },
            numInput(w, g) {
                var num = parseInt(this.cartList[w].List[g].Number);
                var max = this.cartList[w].List[g].MaxNum > this.cartList[w].List[g].StockNum ? this.cartList[w].List[g].StockNum : this.cartList[w].List[g].MaxNum;
                var min = this.cartList[w].List[g].MinNum;
                var price = this.cartList[w].List[g].MarketPrice;
                num = num ? (num > max ? max : (num < min ? min : num)) : min;
                this.cartList[w].List[g].Number = num;
                this.addCart(this.cartList[w].List[g].itemID, this.cartList[w].List[g].stockID, num, price);
            },
            numMinus(w, g) {
                var num = parseInt(this.cartList[w].List[g].Number);
                var min = this.cartList[w].List[g].MinNum;
                var price = this.cartList[w].List[g].MarketPrice;
                num--;
                num = num < min ? min : num;
                this.cartList[w].List[g].Number = num;
                this.addCart(this.cartList[w].List[g].itemID, this.cartList[w].List[g].stockID, num, price);
            },
            numPlus(w, g) {
                var num = parseInt(this.cartList[w].List[g].Number);
                var max = this.cartList[w].List[g].MaxNum > this.cartList[w].List[g].StockNum ? this.cartList[w].List[g].StockNum : this.cartList[w].List[g].MaxNum;
                var price = this.cartList[w].List[g].MarketPrice;
                num++;
                num = num > max ? max : num;
                this.cartList[w].List[g].Number = num;
                this.addCart(this.cartList[w].List[g].itemID, this.cartList[w].List[g].stockID, num, price);
            },
            addCart(itemID, stockID, num, price) {
                var customerGoods = getStorageSync('customerGoods') || [];
                for (var i = 0; i < customerGoods.length; i++) {
                    if (customerGoods[i].itemID == itemID && customerGoods[i].stockID == stockID) {
                        customerGoods[i].number = num;
                        break;
                    }
                }
                setStorageSync('customerGoods', customerGoods);
                this.totalNum();
            },
            deleteGoods(windex, spindex) {
                var that = this;
                showConfirm('确定要删除该商品吗？', function() {
                    var customerGoods = getStorageSync('customerGoods');
                    for (var i = 0; i < customerGoods.length; i++) {
                        if (that.cartList[windex].List[spindex].itemID == customerGoods[i].itemID && that.cartList[windex].List[spindex].stockID == customerGoods[i].stockID) {
                            customerGoods.splice(i, 1);
                            that.cartList[windex].List.splice(i, 1);
                            break;
                        }
                    }
                    if (!that.cartList[windex].List.length) {
                        that.cartList.splice(windex);
                    }
                    setStorageSync('customerGoods', customerGoods);
                    that.totalNum();
                });
            },
            emptyWareHouse(index) {
                var that = this;
                showConfirm('确定要清空该仓库吗？', function() {
                    var customerGoods = getStorageSync('customerGoods');
                    for (var i = 0; i < that.cartList[index].List.length; i++) {
                        for(var j=0; j < customerGoods.length; j++){
                            if(that.cartList[index].List[i].itemID == customerGoods[j].itemID && that.cartList[index].List[i].stockID == customerGoods[j].stockID){
                                customerGoods.splice(j, 1);
                            }
                        }
                    }
                    that.cartList.splice(index,1);
                    setStorageSync('customerGoods', customerGoods);
                    that.totalNum();
                });
            },
            toDetail(itemID, stockID, title) {
                linkTo('customerGoodsDetail', 'customerGoodsDetail.html', true, {
                    itemID,
                    stockID,
                    title
                });
            },
            toOrderCreate() {
                var cartStockIDs = [];
                var cartNumbers = [];
                var openID = getStorageSync('openID');
                for(var i=0;i<this.cartList.length;i++){
                    for(var j=0;j<this.cartList[i].List.length;j++){
                        if(this.cartList[i].List[j].checked){
                            cartStockIDs.push(this.cartList[i].List[j].stockID);
                            cartNumbers.push(this.cartList[i].List[j].Number);
                        }
                    }
                }
                var member = getStorageSync('member');
                var cartIDs = cartStockIDs.join(',');
                var cartNumbers = cartNumbers.join(',');
                var param={
                    openID: openID,
                    nickName: member.UserName || customer.UserName,
                    avatar: member.Avatar || customer.Avatar,
                    cartStockIDs: cartIDs,
                    cartNumbers: cartNumbers,
                    fastbuy:false
                }
                linkTo('customerCartOrderCreate','customerCartOrderCreate.html',true,param);
            },
            getCartInfo() {
                var that = this;
                var customerGoods = getStorageSync('customerGoods') || [];
                var openID = getStorageSync('openID');
                var member = getStorageSync('member');
                if (!customerGoods.length) {
                    this.cartList = [];
                } else {
                    var cartStockIDs = [];
                    var cartNumbers = [];
                    for (var i = 0; i < customerGoods.length; i++) {
                        cartStockIDs.push(customerGoods[i].stockID);
                        cartNumbers.push(customerGoods[i].number);
                    }
                    var data = {
                        openID: openID,
                        nickName: member.UserName || customer.UserName,
                        avatar: member.Avatar || customer.Avatar,
                        cartStockIDs: cartStockIDs.join(','),
                        cartNumbers: cartNumbers.join(',')
                    }
                    callAjax(
                        'api/Customer/GetCustomerShoppingCart',
                        'get',
                        data,
                        function(res) {
                            // console.log(JSON.stringify(res));
                            that.showLoading = false;
                            if (res.status) {
                                var cartList = [];
                                for (var i = 0; i < res.data.StockList.length; i++) {
                                    var List = [];
                                    for (var j = 0; j < res.data.StockList[i].StockList.length; j++) {
                                        var item = {
                                            IsPinkage: res.data.StockList[i].StockList[j].IsPinkage,
                                            IsSingleOrder: res.data.StockList[i].StockList[j].IsSingleOrder,
                                            itemID: res.data.StockList[i].StockList[j].ItemID,
                                            stockID: res.data.StockList[i].StockList[j].StockID,
                                            ItemName: res.data.StockList[i].StockList[j].ItemName,
                                            ImageUrl: res.data.StockList[i].StockList[j].ImageUrl,
                                            StockName: res.data.StockList[i].StockList[j].StockName,
                                            MarketPrice: res.data.StockList[i].StockList[j].MarketPrice,
                                            Number: res.data.StockList[i].StockList[j].CartNum,
                                            UnitName: res.data.StockList[i].StockList[j].UnitName,
                                            StockNum: res.data.StockList[i].StockList[j].StockNum,
                                            MaxNum: res.data.StockList[i].StockList[j].MaxNum,
                                            MinNum: res.data.StockList[i].StockList[j].MinNum,
                                            checked: true,
                                            TagLine: res.data.StockList[i].StockList[j].TagLine,
                                        }
                                        if (item.inventory <= 0) {
                                            item.checked = false;
                                            item.num = 0;
                                        }
                                        List.push(item);
                                    }
                                    var ListItem = {
                                        WareHouseID: res.data.StockList[i].WareHouseID,
                                        WareHouseName: res.data.StockList[i].WareHouseName,
                                        List: List,
                                        checked: true
                                    }
                                    cartList.push(ListItem);
                                }
                                that.cartList = cartList;
                                that.disabledBtn();
                                that.isCheck()
                                that.totalNum();
                                that.cartChoose();
                            }
                        }
                    );
                }

            },
            getHotList() {
                var that = this;
                callAjax(
                    'api/Index/GetHotGoodStock',
                    'get', {
                        days: 30,
                        pageIndex: 1,
                        pageSize: 10
                    },
                    function(res) {
                        // console.log(JSON.stringify(res));
                        var mode = [];
                        for (var i = 0; i < res.data.length; i++) {
                            var saleNum = res.data[i].SaleNumber;
                            if (saleNum > 10000) {
                                var str = saleNum.toString();
                                var strarr = (str.split('').slice(0, (str.length - 2)));
                                strarr.splice(-2, 0, '.');
                                saleNum = strarr.join('') + '万';
                            }
                            var item = {
                                pic: res.data[i].ImageUrl,
                                itemid: res.data[i].ItemID,
                                stockid: res.data[i].StockID,
                                stockName: res.data[i].StockName,
                                name: res.data[i].ItemName,
                                desc: res.data[i].TagLine,
                                sPrice: res.data[i].SalePrice,
                                mPrice: res.data[i].MarketPrice,
                                saleNum,
                                pPost: res.data[i].IsPinkage,
                                stockNum: res.data[i].StockNum,
                            }
                            mode.push(item);
                        }
                        that.likeList = mode;
                    }
                );
            },
            apiReady() {
                this.getCartInfo();
                // console.log(api.deviceToken);
                // console.log(api.deviceId);
            }
        },
        mounted() {

            this.getHotList();
        }
    });
    apiready = function() {
        v.apiReady();
        listenEvent('getCusCart', function() {
            v.getCartInfo();
        });
    }
</script>

</html>
