<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>商品详情</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/goodsDetail.css">
    <style>
        #app {
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <div><a class="hicon aui-iconfont aui-icon-left"></a>商品详情</div>
        </header>
        <div class="scroll-view">
            <div class="swiper-box">
                <img :src="chooseInfo[chooseIndex].ImageUrl" alt="">
            </div>
            <div class="goodsinfo bgf mt10">
                <h2>{{title}}</h2>
                <p class="goodsmoney price f18">￥{{goodsinfo.SalePrice | toFix}}</p>
                <div class="flex-row goodsdetailed gray f16">
                    <span>市场价:{{goodsinfo.MarketPrice | toFix}}</span>
                    <span>库存:{{chooseInfo[chooseIndex].stockNum}}</span>
                    <span>重量:{{goodsinfo.Weight}}kg</span>
                </div>
                <div class="numberbox oh">
                    <p class="numbertext fl f16">订购数量</p>
                    <div class="numberopt fr oh" v-show="chooseInfo[chooseIndex].stockNum>0">
                        <input type="button" value="-" @click="numMinus()">
                        <input type="number" :value="num" v-model="num" @blur="numInput()">
                        <input type="button" value="+" @click="numPlus()">
                    </div>
                    <p class="numbertext fr f16 price" v-show="chooseInfo[chooseIndex].stockNum<=0">已售罄</p>
                </div>
            </div>
            <div class="choosebox bgf mt10">
                <p class="f16 mb5">规格</p>
                <div class="chooseoptions">
                    <span v-for="(v,i) in chooseInfo" :class="{mr5:true, mb5:true, f14:true,bgcolor:i==chooseIndex}" @click="changeChoose(i)">{{chooseInfo[i].stockName}}</span>
                </div>
            </div>
            <div class="goodsdescribe mt10 bgf">
                <p class="desctitle">商品详情</p>
                <div v-html="chooseInfo[chooseIndex].detail"></div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab">
            <div class="aui-bar-tab-item" tapmode style="width: 3rem;">
                <i class="aui-iconfont aui-icon-comment aui-text-info"></i>
                <div class="aui-bar-tab-label aui-text-info">咨询</div>
            </div>
            <div class="aui-bar-tab-item" tapmode style="width: 3rem;">
                <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                <div class="aui-bar-tab-label aui-text-warning">收藏</div>
            </div>
            <div class="aui-bar-tab-item aui-bg-warning aui-text-white" tapmode style="width: auto;" v-on:touchend="addCart()" v-show="!goodsinfo.IsSingleOrder">加入购物车</div>
            <div class="aui-bar-tab-item aui-bg-danger aui-text-white" tapmode style="width: auto;" v-on:touchend="buy()">立即购买</div>
        </footer>
        <div class="waiting" v-show="showLoading">
            <div class="waiting-main">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/picker.min.js"></script>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript" src="../script/apiheader.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            showLoading: false,
            itemID: 0,
            stockID: 0,
            title: '商品详情',
            num: 0,
            goodsinfo: {},
            chooseInfo: [{}],
            chooseIndex: 0,
        },
        methods: {
            apiReady() {
                //console.log(JSON.stringify(api.pageParam));
                var that = this;
                var itemID = api.pageParam.itemID;
                var stockID = api.pageParam.stockID ? api.pageParam.stockID : 0;
                this.itemID = itemID;
                this.stockID = stockID;
                this.title = api.pageParam.title;
                var member = getStorageSync('member');
                callAjax(
                    'api/Good/GetDetailByItemID',
                    'get', {
                        id: itemID,
                        userID: member ? member.UserID : ''
                    },
                    function(res) {
                        //console.log(JSON.stringify(res));
                        if (res.status) {
                            stockID = stockID ? stockID : res.data.ApiGoodStockList[0].StockID;
                            var goodsinfo = {
                                IsSingleOrder: res.data.ApiGoodItem.IsSingleOrder,
                                itemID: res.data.ApiGoodItem.ItemID,
                                MarketPrice: res.data.ApiGoodItem.MarketPrice,
                                SalePrice: res.data.ApiGoodItem.SalePrice,
                                TagLine: res.data.ApiGoodItem.TagLine,
                                Weight: res.data.ApiGoodItem.Weight,
                            }
                            var chooseInfo = [];
                            for (var i = 0; i < res.data.ApiGoodStockList.length; i++) {
                                var item = {
                                    ImageUrl: res.data.ApiGoodStockList[i].ImageUrl,
                                    detail: res.data.ApiGoodStockList[i].Detail,
                                    max: res.data.ApiGoodStockList[i].MaxNum,
                                    min: res.data.ApiGoodStockList[i].MinNum,
                                    stockID: res.data.ApiGoodStockList[i].StockID,
                                    stockName: res.data.ApiGoodStockList[i].StockName,
                                    stockNum: res.data.ApiGoodStockList[i].StockNum,
                                }
                                chooseInfo.push(item);
                                if (stockID == res.data.ApiGoodStockList[0].StockID) {
                                    that.chooseIndex = i;
                                }
                            }
                            // console.log(JSON.stringify(chooseInfo));
                            that.goodsinfo = goodsinfo;
                            that.chooseInfo = chooseInfo;
                            that.showLoading = false;
                        }
                    }
                );
            },
            numInput() {
                var num = parseInt(this.num);
                var max = this.chooseInfo[this.chooseIndex].max > this.chooseInfo[this.chooseIndex].stockNum ? this.chooseInfo[this.chooseIndex].stockNum : this.chooseInfo[this.chooseIndex].max;
                var min = this.chooseInfo[this.chooseIndex].min;
                num = num > max ? max : (num < min ? min : num);
                this.num = num;
            },
            numMinus() {
                var num = parseInt(this.num);
                var min = this.chooseInfo[this.chooseIndex].min;
                num--;
                num = num < min ? 0 : num;
                this.num = num;
            },
            numPlus() {
                var num = parseInt(this.num);
                var min = this.chooseInfo[this.chooseIndex].min;
                var max = this.chooseInfo[this.chooseIndex].max > this.chooseInfo[this.chooseIndex].stockNum ? this.chooseInfo[this.chooseIndex].stockNum : this.chooseInfo[this.chooseIndex].max;
                num++;
                num = num < min ? min : (num > max ? max : num);
                this.num = num;
            },
            changeChoose(index) {
                this.chooseIndex = index;
            },
            addCart() {
                if (this.chooseInfo[this.chooseIndex].stockNum <= 0) {
                    showToast('该商品已售罄');
                } else if (this.num == 0) {
                    showToast('请输入购买数量');
                } else {
                    this.showLoading=true;
                    var that=this;
                    var member = getStorageSync('member');
                    loginAjax(
                        'api/Good/AddCart',
                        'post', {
                            UserID: member.UserID,
                            ItemID: this.itemID,
                            StockID: this.chooseInfo[this.chooseIndex].stockID,
                            'Number': this.num
                        },
                        function(res) {
                            that.showLoading=false;
                            //console.log(JSON.stringify(res));
                            showToast(res.message);
                            if (res.status) {

                            } else {

                            }
                        }
                    );
                }
            },
            buy() {
                if (this.chooseInfo[this.chooseIndex].stockNum <= 0) {
                    showToast('该商品已售罄');
                } else if (this.num == 0) {
                    showToast('请输入购买数量');
                } else {
                    linkTo('orderCreate','orderCreate.html',true,{
                      itemID:this.itemID,
                      stockID:this.stockID,
                      num:this.num
                    });
                }
            }
        },
        mounted() {

        }
    });
    apiready = function() {
            v.apiReady();
        }
        /*
        var a=setInterval(function(){
            if(api){
              console.log('v.con');
              v.con();
              clearInterval(a);
            }
            else{
              console.log('waiting api');
            }
        },100);*/
</script>

</html>
