<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>通知详情</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <style>
        #app {
            height: 100%;
        }

        .content {}

        .top {
            padding: 0.75rem;
            border-bottom: 1px solid #eee;
            margin-bottom: 0.25rem;
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <div>
                <a class="hicon aui-iconfont aui-icon-left" @click="closeWin()"></a>通知详情
            </div>
        </header>
        <div class="scroll-view">
            <div class="content bgf">
                <div class="top">
                    <h3>{{title}}</h3>
                    <p>{{time}}</p>
                </div>
                <div class="detail" v-html="detail"></div>
            </div>
        </div>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            showLoading: false,
            toast: false,
            id: '',
            title: '',
            time: '',
            detail: '',
            isRead: false,
            empty: ''
        },
        methods: {
            apiReady() {
                this.id = api.pageParam.id;
                this.isRead = api.pageParam.IsRead;
                var that = this;
                var member = getStorageSync('member');
                var data = {
                    noticeID: api.pageParam.id,
                    isRead: api.pageParam.IsRead,
                    userID: member.UserID,
                }
                callAjax(
                    'api/Notice/GetNoticeDetail',
                    'get',
                    data,
                    function(res) {
                        member.NoticeNumber = res.data.NoticeNumber;
                        setStorageSync('member', member);
                        that.showLoading = false;
                        that.empty = false;
                        that.title = res.data.NoticeDetail.Title;
                        that.time = res.data.NoticeDetail.CreateDate;
                        that.detail = res.data.NoticeDetail.Content;
                        sendEvent('readNotice');
                    }
                );
            },
        },
        mounted() {

        }
    });
    apiready = function() {
        hPadding(function() {
            var headerh = $('header').outerHeight();
            var windowh = $('body').height();
            $('.scroll-view').height(windowh - headerh + 'px');
        });
        v.apiReady();
    }
</script>

</html>
