<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <style>
        #app {
            height: 100%;
        }

        .orange {
            color: #ff931a !important;
        }

        .aui-list-item:last-child {
            background-image: none;
        }

        .aui-list-item:active {
            background-color: #fff !important;
        }

        .nonebox {
            width: 100%;
            height: 100%;
        }

        .noneimg {
            width: 5.5rem;
            height: 4rem;
            margin: 2.5rem auto 0.5rem;
        }

        .noneimg img {
            width: 100%;
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <div>
                <a class="hicon aui-iconfont aui-icon-left" @click="closeWin()"></a>订单详情
            </div>
        </header>
        <div class="scroll-view">
            <div class="noneimg" v-if="!orderList.length">
                <img src="../image/non-tip.png" alt="">
            </div>
            <p class="gray tc f16 mb30" v-if="!orderList.length">订单为空</p>
            <div class="aui-content" v-if="orderList.length">
                <ul v-for="(v,i) in orderList" class="aui-list aui-media-list mb10 bimgnone">
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner flex-row">
                            <div class="aui-list-item-title f14">订单编号：{{v.indent}}</div>
                            <div class="aui-list-item-title orange f14">{{v.status}}</div>
                        </div>
                    </li>
                    <li class="aui-list-item" v-for="(value,index) in v.goodlist" @click="toOrderDetail(i)">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-media">
                                <img :src="value.pic+'/200'" alt="">
                            </div>
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title f14">{{value.name}}</div>
                                </div>
                                <div class="aui-list-item-text f12 gray">
                                    规格:{{value.stockname}} , 数量:{{value.num}}{{value.unitname}} , 单价:{{value.price}}
                                </div>
                                <div class="aui-info aui-margin-t-5" style="padding:0">
                                    <div class="aui-info-item price f14">￥{{value.total | toFix1}}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-title tr f14 black">
                                共计<span class="price">{{v.num}}</span>件商品，合计<span class="price">￥{{v.amount}}</span>
                            </div>
                            <div class="tr mt5">
                                <div class="aui-btn aui-btn-outlined" v-if="v.statusCode==1" @click="orderCancel(i)">取消订单</div>
                                <div class="aui-btn aui-btn-outlined" v-if="v.statusCode==1" @click="orderPay(i)">立即支付</div>
                                <div class="aui-btn aui-btn-outlined" v-if="v.statusCode==2" @click="orderFalse(i)">申请作废</div>
                                <div class="aui-btn aui-btn-outlined" v-if="v.statusCode==3 || v.statusCode==8" @click="orderLogistics(i)">查看物流</div>
                                <div class="aui-btn aui-btn-outlined" v-if="v.statusCode==3" @click="orderModify(i)">确认收货</div>
                                <div class="aui-btn aui-btn-outlined" v-if="v.statusCode==4 || v.statusCode==9" @click="orderDelete(i)">删除订单</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="aui-list-item mb10" v-show="showMore==2">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title gray tc">没有更多数据了</div>
                    </div>
                </div>
                <div class="aui-list-item mb10" v-show="showMore==1">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title gray">
                            <img src="../image/timg.gif" alt="" class="smLoading">
                        </div>
                    </div>
                </div>
                <div class="aui-list-item mb10" v-show="showMore==0">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title gray tc">下拉加载更多</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            showLoading: false,
            toast: false,
            keyword: '',
            nolist: true,
            showMore: 1,
            pageIndex: 1,
            orderList: [],
        },
        methods: {
            apiReady() {
                this.keyword = api.pageParam.key;
                this.getOrderList(1);
            },
            getOrderList(pageIndex) {
                var that = this;
                var member = getStorageSync('member');
                var data = {
                    userID: member.UserID,
                    keyword: that.keyword,
                    pageIndex,
                    pageSize: 10
                }
                loginAjax(
                    'api/account/GetSearchOrderList',
                    'get',
                    data,
                    function(res) {
                        // console.log(JSON.stringify(res));
                        if (res.status) {
                            var orderList = that.orderList;
                            var index = that.checknum;
                            if (res.data.length == 0 && pageIndex == 1) {
                                that.nolist = false;
                            } else {
                                that.nolist = true;
                            }
                            if (pageIndex == 1) {
                                orderList = [];
                            }
                            for (var i = 0; i < res.data.length; i++) {
                                var goodlist = [];
                                for (var j = 0; j < res.data[i].ApiOrderItemList.length; j++) {
                                    var total = res.data[i].ApiOrderItemList[j].Price * res.data[i].ApiOrderItemList[j].Number;
                                    var goods = {
                                        pic: res.data[i].ApiOrderItemList[j].ImageUrl,
                                        name: res.data[i].ApiOrderItemList[j].ItemName,
                                        stockname: res.data[i].ApiOrderItemList[j].StockName,
                                        num: res.data[i].ApiOrderItemList[j].Number,
                                        unitname: res.data[i].ApiOrderItemList[j].UnitName,
                                        price: res.data[i].ApiOrderItemList[j].Price,
                                        total: total
                                    }
                                    goodlist.push(goods);
                                }
                                var order = {
                                    indent: res.data[i].PayNo,
                                    IsCheck: res.data[i].IsCheck,
                                    orderID: res.data[i].OrderID,
                                    status: res.data[i].OrderStatusText,
                                    statusCode: res.data[i].OrderStatus,
                                    amount: res.data[i].OrderAmount.toFixed(2),
                                    num: res.data[i].TotalNumber,
                                    goodlist: goodlist
                                }
                                orderList.push(order);
                            }
                            that.orderList = orderList;
                            that.pageIndex++;
                            if (res.data.length < 10) {
                                that.showMore = 2;
                            } else {
                                that.showMore = 0;
                            }
                        }
                    }
                );
            },
            toOrderDetail(index) {
                linkTo('orderDetail', 'orderDetail.html', true, {
                    orderID: this.orderList[index].orderID
                });
            },
            orderCancel(index) { //取消订单
                var that = this;
                var member = getStorageSync('member');
                showConfirm('确定要取消订单吗？', function() {
                    console.log(JSON.stringify(that.orderList[index]));
                    var data = {
                        UserID: member.UserID,
                        OrderID: that.orderList[index].orderID,
                        OrderLogType: 9
                    }
                    console.log(JSON.stringify(data));
                    loginAjax(
                        'api/Account/ModifyIndentInfo',
                        'post',
                        data,
                        function(res) {
                            console.log(JSON.stringify(res));
                            showToast(res.message);
                            if (res.status) {
                                that.orderList[index].status = '已关闭';
                                that.orderList[index].statusCode = 9;
                            }
                        }
                    );
                });
            },
            orderPay(index) { //立即支付
                linkTo('orderPay', 'orderPay.html', true, {
                    payNo: this.orderList[index].indent
                });
            },
            orderFalse(index) { //作废订单
                var that = this;
                var member = getStorageSync('member');
                showConfirm('确定要作废订单吗？', function() {
                    console.log(JSON.stringify(that.orderList[index]));
                    var data = {
                        UserID: member.UserID,
                        OrderID: that.orderList[index].orderID,
                        OrderLogType: 5
                    }
                    console.log(JSON.stringify(data));
                    loginAjax(
                        'api/Account/ModifyIndentInfo',
                        'post',
                        data,
                        function(res) {
                            console.log(JSON.stringify(res));
                            showToast(res.message);
                            if (res.status) {
                                that.orderList[index].status = '已作废';
                                that.orderList[index].statusCode = 4;
                                member.Amount = res.data.Amount;
                                setStorageSync('member', member);
                                sendEvent('upMoney');
                            }
                        }
                    );
                });
            },
            orderLogistics(index) { //查看物流
                linkTo('orderTrack', 'orderTrack.html', true, {
                    orderID: this.orderList[index].orderID
                });
            },
            orderModify(index) { //确认收货
                var that = this;
                var member = getStorageSync('member');
                showConfirm('确定已收货？', function() {
                    console.log(JSON.stringify(that.orderList[index]));
                    var data = {
                        UserID: member.UserID,
                        OrderID: that.orderList[index].orderID,
                        OrderLogType: 10
                    }
                    console.log(JSON.stringify(data));
                    loginAjax(
                        'api/Account/ModifyIndentInfo',
                        'post',
                        data,
                        function(res) {
                            console.log(JSON.stringify(res));
                            showToast(res.message);
                            if (res.status) {
                                that.orderList[index].status = '已完成';
                                that.orderList[index].statusCode = 8;
                            }
                        }
                    );
                });
            },
            orderDelete(index) { //删除订单
                var that = this;
                var member = getStorageSync('member');
                showConfirm('确定要删除订单吗？', function() {
                    console.log(JSON.stringify(that.orderList[index]));
                    var data = {
                        UserID: member.UserID,
                        OrderID: that.orderList[index].orderID,
                        OrderLogType: 6
                    }
                    console.log(JSON.stringify(data));
                    loginAjax(
                        'api/Account/ModifyIndentInfo',
                        'post',
                        data,
                        function(res) {
                            console.log(JSON.stringify(res));
                            showToast(res.message);
                            if (res.status) {
                                that.orderList.splice(index, 1);
                            }
                        }
                    );
                });
            },
        },
        mounted() {

        }
    });
    apiready = function() {
        hPadding(function() {
            var headerh = $('header').outerHeight();
            var windowh = $('body').height();
            $('.scroll-view').height(windowh - headerh + 'px');
        });
        v.apiReady();
    }
    $('.scroll-view').scroll(function(){
          var boxh = $(this).height();
          var boxt = $(this).scrollTop();
          var bodyh = $('.aui-content').height();
          if (boxh + boxt == bodyh) {
              v.getOrderList(v.pageIndex);
          }
    });
</script>

</html>
