<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>订单完成</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <style>
        * {
            text-align: center;
        }

        #app {
            height: 100%;
        }

        .iconbox {
            width: 5rem;
            height: 5rem;
            margin: 3rem auto 1rem;
            border-radius: 50%;
        }

        .iconbox i {
            font-size: 3.5rem;
        }

        .cont h2,
        .cont p {
            margin: 0.25rem auto;
        }

        .btnbox {
            padding: 0 0.75rem;
        }

        .btnbox button {
            width: 48%;
            height: 2rem;
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <div>
                <a class="hicon aui-iconfont aui-icon-left"></a>支付{{orderSuccess?'成功':'失败'}}
            </div>
        </header>
        <div class="mtitle oh">
            <div class="iconbox bgcolor tc">
                <i class="aui-iconfont aui-icon-correct" v-if="orderSuccess"></i>
                <i class="aui-iconfont aui-icon-close" v-else></i>
            </div>
        </div>
        <div class="cont mb20">
            <h2 class="black">下单成功</h2>
            <p class="gray f16">还有&nbsp;<span class="price">{{time}}</span>&nbsp;秒跳转到首页&nbsp;<a class="black" @click="backHome()">立即跳转</a></p>
        </div>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/picker.min.js"></script>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            toast: false,
            orderSuccess: true,
            orderMessage:'',
            showLoading:false,
            time:3
        },
        methods: {
            apiReady() {
                var that = this;
                this.orderSuccess=api.pageParam.orderSuccess;
                this.orderMessage=api.pageParam.orderMessage;
                setInterval(function(){
                    that.time--;
                    if(!that.time){
                      that.backHome();
                    }
                },1000);
            },
            backHome(){
                api.sendEvent({
                    name: 'backHome'
                });
                api.closeToWin({
                    name: 'home'
                });
            }
        },
        mounted() {

        }
    });
    apiready = function() {
        hPadding();
        v.apiReady();
    }
</script>

</html>
