<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>修改资料</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <style>
        #app {
            height: 100%;
        }

        .scroll-view {
            height: calc(100% - 2.25rem);
        }

        .userbg {
            width: 100%;
            height: 8.5rem;
            background: url(../image/infoBG.png) no-repeat;
            background-size: 100% 100%;
        }

        .userimg {
            width: 5rem;
            height: 5rem;
            margin: 1rem auto 0.5rem;
            border-radius: 50%;
        }

        .userimg img {
            width: 100%;
            height: 100%;
        }

        .cover {
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
    </style>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/vue2-4-2.min.js"></script>
    <script type="text/javascript" src="../script/aui-toast.js"></script>
    <script type="text/javascript" src="../script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../script/jquery.form.min.js"></script>
</head>

<body class="bgf">
    <div id="app">
        <header ref="header">
            <div>
                <a class="hicon aui-iconfont aui-icon-left" @click="closeWin()"></a>修改资料(BUG)
            </div>
        </header>
        <div class="scroll-view">
            <from id="uimg" method="post" action="" enctype="multipart/form-data" class="userbg oh db">
                <div class="userimg oh pr">
                    <label class="cover tc white">修改头像
                        <input type="file" id="file" name="file" class="dn" @change="changeAvatar()">
                    </label>
                    <img :src="avatar" alt="">
                    <!-- <img src="../image/loading_more.gif" alt=""> -->
                </div>
                <p class="tc white f18"></p>
            </from>
            <div class="aui-content">
                <ul class="aui-list aui-form-list">
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">用户名：</div>
                            <div class="aui-list-item-input">
                                <!-- <input type="text" class="tr" v-model="member.UserName" placeholder="请输入用户名"> -->
                                <input type="text" class="tr" placeholder="请输入用户名" v-model="username">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btncontainer mt20">
                <div class="aui-btn aui-btn-block bgcolor" @click="subMit()">保 存</div>
            </div>
        </div>
        <div class="waiting" v-if="showLoading || toast">
            <div class="waiting-main" v-if="showLoading">
                <img src="../image/timg.gif" alt="" class="waiting-gif">
                <p class="waiting-text">加载中</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/main.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            showLoading: false,
            toast: false,
            member: {},
            avatar: '',
            username: ''
        },
        methods: {
            changeAvatar() {
                var that = this;
                var token = getStorageSync('token');
                var form = $('#uimg');
                upLoadImg(
                    form,
                    function(res) {
                        console.log(JSON.stringify(res));
                        if (res.status) {
                            that.avatar = res.data;
                        }
                    }
                );
            },
            apiReady() {

            },
            subMit() {
                var member = getStorageSync('member');
                var that = this;
                this.showLoading = true;
                var data = {
                    UserID: member.UserID,
                    LoginID: member.LoginID,
                    UserName: that.username || member.UserName,
                    Avatar: that.avatar
                }
                loginAjax(
                    'api/Agent/ChangeUserInfo',
                    'post',
                    data,
                    function(res) {
                        console.log(JSON.stringify(res));
                        that.showLoading = false;
                        showToast(res.message);
                        if (res.status) {
                            member.UserName = that.username;
                            member.Avatar = that.avatar;
                            setStorageSync('member', member);
                            setTimeout(function() {
                                closeWin();
                            }, 1500);
                        }
                    }
                );
            }
        },
        mounted() {
            this.member = getStorageSync('member');
            this.avatar = getStorageSync('member').Avatar;
        }
    });

    apiready = function() {
        hPadding(function() {
            var headerh = $('header').outerHeight();
            var windowh = $('body').height();
            $('.scroll-view').height(windowh - headerh + 'px');
        });
        v.apiReady();
    }
</script>

</html>
